.header {
    height: var(--header-height);
    background-color: #D0011B;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height)
}

.header__navbar-list {
    display: flex;
    list-style: none;
    margin: 4px 0 0 0;
    padding-left: 0;
}

.header__navbar-item {
    margin: 0 10px;
    position: relative;
    line-height: 26px
}


.header__navbar-user {
    display: flex;
    justify-content: center;
    position: relative;
}



.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}




.header__navbar-user-name {
    font-size: 1.3rem;
    margin-left: 4px;
    font-weight: 300;
    color: var(--white-color);
    line-height: 100%;
}


.header__navbar-user:hover .header__navbar-user-name {
    color: rgba(255, 255, 255, 0.7);
}



.header__navbar-user-menu {
    display: none;
    position: absolute;
    z-index: 1;
    width: 160px;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 3px #e0e0e0;
}


.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 18px;
    top: -30px;
}


.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;

    top: -8px;
    right: 0;
    width: 100%;
    height: 8px;

}

.header__navbar-user-item a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}



.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-item--show--qr:hover .header__qr {
    display: block;
}


.header__navbar-item--show-notify:hover .header__notify {
    display: block;
}

.header__navbar-item--show-languages:hover .header__languages {
    display: block;
}


.header__navbar__item-link,
.header__navbar-item {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar__item-link,
.header__navbar-item,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}


.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar__item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}


.header__navbar-item--bold {
    font-weight: 400;
}


.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #DA394D;
    height: 16px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}


.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 5px;
    margin-right: 5px;
}


.header__navbar-item-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}


/* Header QR  */
.header__qr {
    display: none;
    width: 190px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 6px;
    border-radius: 4px;
    animation: fadeIn ease-in 0.3s;
    z-index: 2;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}

/* Bridge */
.header__qr::before {
    position: absolute;
    top: -15px;
    left: 0;
    content: "";
    width: 100%;
    height: 20px;
    display: block;
}

.header__qr--img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-link:nth-child(3) {
    margin-left: 11px;
}


.header__qr-download-img {
    height: 17px
}


/* Header -- Notifications */

.header__notify {
    position: absolute;
    width: 400px;
    background-color: var(--white-color);
    top: 120%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    right: 0;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
    border-radius: 2px;
}


.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 18px;
    top: -30px;
}


.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -16px;
}


@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}


.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
    cursor: text;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

/* .header__notify-item {} */

.header__notify-item:hover {
    background-color: #F8F8F8;
}

.header__notify-item--viewed {
    background-color: rgba(208, 1, 27, 0.08)
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 50px;
    object-fit: contain;
}

.header__notify-body-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.7rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #727272;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;

}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}


/* Header -- Languages */

.header__languages {
    display: none;
    position: absolute;
    width: 200px;
    background-color: var(--white-color);
    top: 120%;
    border: 1px solid #D3D3D3;
    right: 0;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.3s;
    will-change: opacity, transform;
    z-index: 1;
    border-radius: 2px;
}

.header__languages::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -1px;
    top: -30px;
}


.header__languages::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -10px;
    right: 0;
}


/* .header__languages-item {} */

.header__languages-list {
    padding-left: 0;
    list-style: none;
}

.header__languages-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    padding: 8px 12px;
}

.header__languages-link:hover {
    color: var(--primary-color);
}


/* Authenticator Modal */

.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
    ;
}


.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}


.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);

}

.auth-form__switch-btn:hover {
    cursor: pointer;
}

/* .auth-form__form {} */

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}


.auth-form__term {
    margin-top: 20px;
    padding: 0 12px;
}


.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}


.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.btn.auth-form__control-back {
    margin-right: 8px;
}


.auth-form__socials {
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    background-color: #4267B2;
    color: var(--white-color);
}

.auth-form__socials--facebook.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form-socials-title {
    margin: 0 28px;
}


.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666
}


.auth-form__help {
    display: flex;
    justify-content: flex-end
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393
}

.auth-form__help-separete {
    display: block;
    height: 22px;
    border-left: 1px solid #eaeaea;
    margin: 0 16px;
}


.auth-form__help-forgot {
    color: var(--primary-color);
}



/* Header with search */


.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    display: flex;
    width: 240px;
    height: var(--header-with-search-height);
    justify-content: left;
    margin-right: 24px;
}

.header__logo-link {
    width: 240px;
    height: 80px;
    text-decoration: none;
    background-image: url('https://gkconcept.vn/wp-content/uploads/2021/08/SHOPEEMALL-LOGO.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(0) invert(1);

}

/* .header__logo-img {
    width: 160px;
    filter: invert(92%) sepia(92%) saturate(38%) hue-rotate(203deg) brightness(150%) contrast(100%);
    cursor: pointer;
} */


.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
}

.header__search-input-wrap {
    position: relative;
    flex: 1;
    height: 100%;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}


.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-label-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    padding: 0 16px 0 8px;
    position: relative;
    top: 1px;
}





.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 32px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: rgb(212, 24, 48);
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    display: none;
    position: absolute;
    right: 0;
    top: calc(140% - 2px);
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 3px #e0e0e0;
    padding-left: 0;
    border-radius: 2px;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
    /* overflow: hidden; */
}

.header__search-option::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 30px;
    top: -20px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}


.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 8px;
}



.header__search-option-item i {
    font-size: 1.3rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}


.header__search-option-item--active i {
    display: inline-block;
}


.header__search-input:focus~.header__search-history {
    display: block;
}


/* Search History */

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3px #999;
    display: none;
    overflow: hidden;
    z-index: 1;
}



.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}


.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}


.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 38px;
    display: block;
}


/* Card Layout */

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}


.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__cart-list {
    display: none;
    position: absolute;
    top: calc(100% + 9px);
    right: 1px;
    background-color: var(--white-color);
    width: 500px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}


.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y: scroll;
}

.header__cart-item {
    display: flex;
    align-items: center;
}


.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-image {
    width: 50px;
    height: 50px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}


.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: text;


}

.header__cart-item-name {
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 450;
    color: var(--text-color);
    margin: 0;
    max-height: 4rem;
    overflow: hidden;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 1rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;

}

.header__cart-item-description {
    font-size: 1.2rem;
    color: #757575;
    font-weight: 400;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: -1px;
    top: -25px;
    border-width: 16px 20px;
    cursor: pointer;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 24px 0;

}


.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-list--no-cart-img {
    width: 60%;
    display: none;
}

.header__cart-list--no-cart-msg {
    display: none;
    /* display: block; */
    margin-top: 14px;
    font-size: 1.4rem;
    color: var(--text-color);
}


.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-view-cart:hover {
    background-color: #D41830;
}



.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-badge {
    position: absolute;
    padding: 2px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 13px;
    border-radius: 10px;
    border: 2px solid #CF011B;
    top: -12px;
    right: -2px;
}



/* App Container */

.app__container {
    background-color: #F5F5F5;
}

.app-content {
    padding-top: 30px;
}


.category {
    border-radius: 2px;
    background-color: var(--white-color);
}


.category__heading {
    font-size: 1.6rem;
    font-weight: 650;
    color: var(--text-color);
    padding: 24px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0 0 10px 0;
    text-transform: uppercase;
}


.category__heading-icon {
    font-size: 1.3rem;
    margin-right: 4px;
    position: relative;
    top: -1px
}



.category-list {
    list-style: none;
    padding: 0 0 12px 0;
    margin: 0 10px 10px 10px;
}


.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    position: absolute;
    content: "";
    border-top: 1px solid var(--border-color);
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}


.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border-color: transparent transparent transparent var(--primary-color);
    border-style: solid;
    border-width: 4px 4px;
    top: 50%;
    left: 7px;
    transform: translateY(calc(-50% - 1px));
}

.category-item__link {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 12px 16px;
    transition: right linear 0.1s;
    right: 0;
}


.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}


/* Sort Item */


.home-filter {
    display: flex;
    background-color: #EDEDED;
    align-items: center;
    padding: 12px 20px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-controls {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}


.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: #EDEDED;
    text-decoration: none;
    border: 1px solid var(--border-color);
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}


.home-filter__page-btn:first-child {
    border-right: 1px solid #EEEEEE;
}

.home-filter__page-btn:last-child:hover {
    background-color: var(--white-color);
}

.home-filter__page-btn--disable {
    background-color: #F9F9F9;
    cursor: default;
}


.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

/* Product */
.home-products {
    display: flex;
    /* margin: 0 0 40px; */
}

.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
    z-index: 1;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top-center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    /* background-position: center; */
}

.home-product-item__ful-filled {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    padding: 2px 7px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__ful-filled::before {
    content: "";
    position: absolute;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
    left: 0;
    bottom: -3px;
}

.home-product-item__ful-filled-image {
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 22px;
}


.home-product-item__sale-off {
    border-top-right-radius: 3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 33px;
    text-align: center;
    background-color: rgba(255, 216, 57, 0.95);
}


.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 18px 4px;
    border-style: solid;
    color: rgba(255, 216, 57, 0.95);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: #F26D30;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
}


.home-product-item__name {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 5px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space:nowrap; */

}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    padding-left: 10px;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .54);
    text-decoration: line-through;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 5px;
}

.home-product-item__like {
    font-size: 1.3rem;
}

.home-product-item__like-icon-fill {
    color: var(--primary-color);
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__ratings {
    font-size: 0.9rem;
    color: #D5D5D5;
    margin-left: auto;
    /* margin-top: -1px; */
}

.home-product-item__star-gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 5px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 0;
    color: rgba(0, 0, 0, .54);
    font-size: 1.1rem;
    font-weight: 300;
}


.home-products__pagination {
    margin: 40px 0 80px 0;
}

/* .home-product-item__brand {
   
}

.home-product-item__origin-name {} */



/* Footer */


.footer {
    border-top: 4px solid var(--primary-color);
}

.footer__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.footer-support__box {
    display: flex;
    align-items: center;
    height: 120px;
}

.footer-support__box-img {
    width: 50px;
    height: 50px
}

.support-text {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .54);
    margin-left: 20px;
    font-weight: 400;
}

.support-text__label {
    margin: 0;
}


.footer__middle {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.footer__heading {
    padding-top: 20px;
    margin: 16px 0;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 500;
}

.footer__heading-logistics {
    margin: 5px 0 16px 0;
}

.footer-list {
    padding-left: 0;
    list-style: none;

}

.footer-item__link {
    display: flex;
    align-items: center;
    max-width: 100%;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .65);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 2px 0;
}

.footer-item__link:hover {
    color: var(--primary-color);
}


.footer-item__icon {
    font-size: 1.8rem;
    margin: -1px 8px 0 0;
}

.footer-list-payment {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    color: rgba(0, 0, 0, .54);
    align-items: center;
}

.list-payment-item {
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 1px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 2px;
}


.footer-list-logistics {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    color: rgba(0, 0, 0, .54);
    align-items: center;
}

.list-logistic-item {
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 1px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 2px;
}



.footer__download {
    display: flex;
}

.footer__download-link {
    display: flex;
    text-decoration: none;
    color: transparent;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.footer__download-qr {
    width: 80px;
    object-fit: contain;
}

.footer__download-apps {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 12px;
}

.footer__download-app-link {
    display: block;
    justify-content: center;
    text-decoration: none;
    color: transparent;
    align-items: center;
    width: 100px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 5px;
    line-height: 0;
}


.footer__download-app-icon {
    height: 24px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    border-radius: 2px;
    padding: 4px;
}


.footer__bottom {
    margin-top: 24px;
    padding: 24px 0;
}

.footer__select-region {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    margin: 0;
    text-align: left;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .54);
}

.footer__region {
    display: flex;
    align-items: center;
}

.footer__region-text {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .54);
}

.footer__region-name {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .54);
    text-decoration: none;
    padding: 0 5px;
    border-right: 1px solid var(--border-color);
}

.footer__region-name:hover {
    color: var(--primary-color)
}

.footer__region-name:last-child {
    border-right: none;
}


.footer__end {
    background-color: #F5F5F5;
    padding: 40px 0 20px;
}

.footer-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.footer-policy__title {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .54);
    text-decoration: none;
    border-right: 1px solid var(--border-color);
    padding: 0 28px;
    font-weight: 400;
}

.footer-policy__title:last-child {
    border: none;
}

.footer-license {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-license__img {
    display: block;
    height: 40px;
    margin: 0 20px;
}


.footer__author {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    color: rgba(0, 0, 0, .54);
}